/* reset all styles */
* {
  padding: 0;
  margin: 0;
  border: 0px;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/* misc classes */
.left-indent {
  text-align: start;
}

body {
  width: 100%;
  padding: 3rem;
  text-align: center;
  box-sizing: border-box;
  background-color: #d9d9d9;
}

.title {
  margin-bottom: 2rem;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
}

.content > div {
  background-color: white;
  padding: 1.5rem;
  border: 2px solid black;
  border-radius: 2px;
}

.left-content {
  width: 15rem;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-content-top {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.left-content-bottom {
  display: flex;
  justify-content: end;
}
.input-title {
  font-weight: bold;
  font-size: 1.1rem;
}
#calculate-btn {
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 1.05rem;
  background-color: #38b6ff;
  color: white;
  font-weight: bold;
}
/* DROPDOWN */
.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
.dropdown-container > select {
  border: 2px solid gainsboro;
  padding: 4px;
  font-size: 1rem;
  border-radius: 6px;
}

.right-content {
  flex-grow: 1;
  min-height: 20rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sub-title {
  text-align: left;
}

/* Table styles */
.table-container {
  margin-top: 1rem;
}
.data-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.data-table th,
.data-table td {
  border: 1px solid #ccc;
  text-align: center;
  width: 12.5%; /* make all columns the same width*/
}

/* Style for the header */
.data-table th {
  background-color: #f0f0f0;
  padding: 10px;
  font-size: 0.9rem;
}
.data-table input {
  width: 100%;
  padding: 8px 5px;
  box-sizing: border-box;
  border: none;
  text-align: center;
}

/* Visual change on input focus */
.data-table input:focus {
  outline: 2px solid #5d9cec; /* A light blue border on focus */
  background-color: #eaf3ff;
  display: block;
}

.table-row-last td {
  padding: 8px 5px;
  box-sizing: border-box;
  text-align: center;
}

.error-msg {
  color: red;
  text-align: start;
  font-size: 0.9rem;
  padding-left: 2px;
}
